# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/
*.log

# Base de datos local
*.db
*.sqlite3

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/

# Scripts de deploy
actualizar_github.bat
subir_github.bat
